html,
background-image {
  background: "..img/monstera.jpg";
  background-size: cover;
  background-attachment: fixed;
  background-repeat: inherit;
  margin: 0;
  padding: 0;
  width: 100vh;
  height: 100vh;
}

div {
  width: 50vh;
  height: 100vh;
  margin-left: 50vw;
  margin-right: 50vw;
  background-color: white;
  text-align: center;
  display: block;
}

heading {
  text-align: center;
  padding: 20vw;
  float: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: green;
  object-position: 0%;
  display: block;
  text-align: center;
}

.contact {
  display: block;
  align-items: center;
  margin: auto;
  width: 20%;
  box-sizing: border-box;
}

body {
  align-items: center;
  margin: 30px;
  padding: 5px;
  border: 2px green;
  width: 50vw;
  height: 100vh;
  text-align: center;

}