* {
  padding: 0;
}

.container {
  background-color: whitesmoke;
  border-color: gray;
  border-style: double;
  width: 70%;
  height: auto;
  padding-bottom: 5%;
  min-height: 100%;
  text-align: center;
}

.top {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 800;
  background-color: whitesmoke;
  opacity: .9;
  width: 70%;
  height: 10%;
  padding-top: 3rem;
  padding-bottom: 5%;
  text-align: center;
  margin: auto;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 60px;
  border-bottom: 3px groove darkcyan;
  width: 100%;
}

.box1 {
  border: 10px dotted rgb(7, 103, 103);
  border-image-slice: 150;

}

/* h1 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-size: 500%;
  font-weight: 800;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 50px;
  border-style: double;
  border-bottom: auto;
  margin: auto;
} */

h2 {
  text-align: center;
  font-family: 'Kurale', serif;
  color: black;
  padding-top: .5rem;
  border-bottom: 5px darkcyan groove;
  margin-bottom: .5rem;
}

h3 {
  font-family: 'Kurale', serif;
  color: black;
  font-size: 300%;
}

h4 {
  text-align: center;
  font-family: 'Kurale', serif;
  color: black;
  padding-top: .5rem;
  border-bottom: 5px darkcyan groove;
}


.content {
  border: 5px;
  border-color: darkcyan;
  border-style: groove;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Kurale', serif;
  margin: 6em;
  max-width: 80%;
  text-align: center;
}

#icon {
  color: black;
  text-align: center;
  background-color: lightpink;
  border-radius: 10%;
  font-family: 'Abril Fatface', cursive;
  float: left;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  justify-content: space-evenly;
  align-items: center;
}

#pic {
  width: 55em;
  Height: auto;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 5px;
}

#pic2 {
  width: 90%;
  Height: auto;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 5px;
}