* {
  padding: 0;
}

.container {
  background-color: whitesmoke;
  border-color: gray;
  border-style: double;
  width: 70%;
  height: auto;
  padding-bottom: 5%;
  min-height: 100%;
  text-align: center;
}

.top {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 800;
  background-color: whitesmoke;
  opacity: .9;
  width: 70%;
  height: 10%;
  padding-top: 3rem;
  padding-bottom: 5%;
  text-align: center;
  margin: auto;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: 25px;
}

/* h1 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-size: 500%;
  font-weight: 800;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 50px;
  border-style: double;
  border-bottom: auto;
  margin: auto;
} */

h2 {
  text-align: center;
  font-family: 'Kurale', serif;
  color: black;
  padding-top: .5rem;
  border-bottom: 5px darkcyan groove;
  margin-bottom: .5rem;
}


.content {
  border: 5px;
  border-color: darkcyan;
  border-style: groove;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Kurale', serif;
  margin: 5rem;
  max-width: 80%;
  display: grid;
  align-items: center;
}